ul.history {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f3f3f3;
  padding: 5px;
  list-style: none;
}

ul.history li + li {
  margin-top: 5px;
}

ul.history .graph {
  flex: 1;
  margin: 5%;
}

ul.history button.download {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 13px;
  color: #79b;
  cursor: pointer;
}
