* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 10px;
}

.graph {
  display: flex;
  align-items: flex-end;
  height: 50vh;
}

.graph .sample {
  flex: 1;
  background-color: #ddd;
}

.graph .sample + .sample {
  margin-left: 1px;
}

.control-panel {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.control-panel .slider {
  flex: 1;
}

.control-panel > * + * {
  margin-left: 10px;
}