* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  height: 100%;
}

body {
  padding: 10px;
}

.App {
  height: 100%;
}

.soundboard {
  height: 100%;
  display: flex;
}

.left,
.right {
  width: 10%;
}

.middle {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.graphs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.graphs .graph {
  flex: 1;
}

.control-panel {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.control-panel .slider {
  flex: 1;
}

.control-panel > * + * {
  margin-left: 10px;
}