[data-is-dark="true"].App {
  background-color: #080808;
}

[data-is-dark="true"] .soundboard > .left,
[data-is-dark="true"] .soundboard > .right {
  background-color: #0c0c0c;
}

[data-is-dark="true"] .soundboard button.theme {
  color: #666;
}

[data-is-dark="true"] .control-panel .pause {
  background-color: #0c0c0c;
}

[data-is-dark="true"] .control-panel .pause button {
  color: #f99;
  background-color: #c44;
  border: solid 3px #fbb;
}

.control-panel .pause[data-is-recording="true"] button {
  background-color: transparent;
}

[data-is-dark="true"] .attribution {
  color: #555;
}

[data-is-dark="true"] .attribution a {
  color: #864;
}